<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h2 class="mb-0"><%= title %></h2>
                </div>
                <div class="card-body">
                    <p class="lead"><%= message %></p>
                    
                    <% if (typeof error !== 'undefined' && error.stack) { %>
                    <div class="mt-4">
                        <h5>Error Details (Development Mode)</h5>
                        <pre class="bg-light p-3 border rounded"><%= error.stack %></pre>
                    </div>
                    <% } %>
                    
                    <div class="mt-4">
                        <a href="/" class="btn btn-primary">Return to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>